pandas>=0.23.1
tqdm>=4.0.0
numpy>=1.18.4
scipy>=1.1.0
scikit-learn>=0.20.2,<0.23
ftfy>=4.4.0
spacy>=2.0.0,<3.0.0
pytest>=3.6.3
h5py>=2.8.0
joblib>=0.12.0
bs4>=0.0.1
imbalanced-learn>=0.6.0,<0.7.0
nltk>=3.2.4
regex>=2019.03.12
lxml>=4.3.3
tqdl==0.0.4
sentencepiece>=0.1.83
tabulate>=0.8.6,<0.9.0
tensorflow-addons==0.11.2
tensorflow-estimator==2.3.0
psutil==5.7.0
transformers==3.0.2
