typer>=0.4.0
pandas>=0.23.1
tqdm>=4.0.0
numpy>=1.22.2
scipy>=1.10.0rc1
scikit-learn>=1.0.2
ftfy>=4.4.0
spacy>=3.0.0
pytest>=3.6.3
h5py>=2.8.0
joblib>=1.1.1
bs4>=0.0.1
nltk>=3.8.1
regex>=2019.03.12
lxml>=4.3.3
tqdl==0.0.4
sentencepiece>=0.1.83
tabulate>=0.8.6,<0.9.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.15.0
psutil==5.7.0
transformers==4.36.2
